@import "node_modules/nord/src/lesscss/nord.less";

@btn-hover-opacity: 0.75;
@input-padding: 0.5rem;
@form-control-border-radius: 0.25rem;

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: @nord8;
  background-color: @nord0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
}

a,
.router-link,
.router-link-active,
.router-link-exact-active {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
}

textarea,
select,
input:not([type="checkbox"]) {
  all: unset;
  box-sizing: border-box;
  text-align: left;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: @input-padding;
  border: none;
  border-radius: @form-control-border-radius;
  background-color: @nord6;
  color: @nord0;

  &::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: @nord4;
    color: @nord10;
    opacity: 0.9;
  }
}

textarea {
  min-height: 5rem;
  resize: vertical;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin: 0;

  & ~ label {
    margin: 0 0 0 1rem;
  }
}

.form-group {
  margin-bottom: 15px;
}

.input-group {
  min-height: 40px;
  display: flex;
  align-items: center;

  & > input:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & > input:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-preppend,
  &-append {
    height: 40px;
    display: flex;
    max-height: 100%;
    align-items: center;
    background-color: @nord0;
    padding: @input-padding;
    box-sizing: border-box;
    white-space: nowrap;
  }

  &-preppend {
    border-top-left-radius: @form-control-border-radius;
    border-bottom-left-radius: @form-control-border-radius;
  }
  &-append {
    border-top-right-radius: @form-control-border-radius;
    border-bottom-right-radius: @form-control-border-radius;
  }
}

button {
  background-color: @nord10;
  color: @nord6;
  border: none;
  border-radius: @form-control-border-radius;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-weight: bold;
  transition: all 100ms linear;

  &:hover:not(:disabled) {
    opacity: @btn-hover-opacity;
    transition: all 50ms linear;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: @nord4;
  text-align: left;
}
